#can {
#logo {
	position: relative !important;
	padding-top: 30px;
}

	#quote {
		width: 80%;
		background-color: lighten($black, 80%);
		border: 4px solid rgba(#2D0000, 0.1);
		border-radius: 2px;
		height: 300px;
		margin: 110px auto 0px;
		position: relative;
		q {
		}
		.bqstart {
		     float: left;
		     // height: 45px;
		     // padding-top: 45px;
		     // margin-bottom: -50px;
			@include adjust-font-size-to(138px);
		     color: $black;
		 	font-family: Helvetica, Arial, sans-serif;
		 }
		 .bqend {
		 	font-family: Helvetica, Arial, sans-serif;
		     float: right;
		     // height: 25px;
		     // margin-top: 0px;
		     // padding-top: 45px;
			@include adjust-font-size-to(138px);
		     color: $black;
		 }

		 .bottom-bar {
		 	width: 100%;
		 	height: 70px;
		 	position: absolute;
		 	bottom: 0;
		 	padding: 5px;
		 	h2, img {
		 		font-weight: 400;
		 		float: left;
		 	}
		 	h2, span {
		 		padding-left: 10px;
		 	}
		 	span {
		 		font-family: 'AvenirNext LT Pro Cn';
		 	}
		 	img {
		 		margin-left: 20px;
		 	}
		 	.price {
		 		border-radius: 2px;
		 		border-right: 3px solid #298C60;
		 		border-left: 3px solid #298C60;
		 		b {
		 			font-family: 'AvenirNext LT Pro Cn';
		 			border: 1px solid darken(#2CAC21, 30%);
		 			// box-shadow: 0 0 0 1px #fff, 0 0 0 2px #e3e3e3;  
		 			border-radius: 50%;
		 			padding: 3px;
		 			line-height: 30px;
		 		}
		 		span {
		 			color: darken(#2CAC21, 30%);
		 			font-weight: 400;
		 			line-height: 30px;
		 			margin: 0px;
		 			padding: 0px 6px;
					font-family: 'AvenirNext LT Pro';
						float: left;
					&:last-child {
						float: right;
					}
		 		}
		 		position: absolute;
		 		bottom: 20px;
		 		right: 20px;
		 		text-align: center;
		 		background-color: #2CAC21;
		 		width: 80px;
		 		line-height: 30px;
		 		height: 30px;
		 	}
		 }


		@media(min-width: 1000px) {
				q {
					@include adjust-font-size-to(32px);
				}
			 p {
			 	padding-top: 30px;
			 	padding-right: 100px;
			 }


		 .bqend {
		     margin-top: -100px;}
		.bqstart {
		     margin-top: -20px;}

		}
		@media(max-width: 1000px) and (min-width: 681px) {
				q {
					@include adjust-font-size-to(24px);
					line-height: 1.5em;
				}
			 p {
			 	padding-top: 30px;
			 	padding-right: 80px;
			 }
		 .bqend {
		     margin-top: -60px;}
		.bqstart {
		     margin-top: -10px;}

		}
		@media(max-width: 680px) {
				q {
					@include adjust-font-size-to(18px);
					line-height: 1.5em;
				}
			 p {
			 	padding-top: 30px;
			 	padding-right: 60px;
			 }
		 .bqend {
		     margin-top: -60px;}
		.bqstart {
		     margin-top: 0px; line-height: 1.5em !important;}

		}
	}	

	#vote {
		width: 50%;
		height: 200px;
		margin: 0px auto;
		li {
			display: table;
			width: 50%;
			float: left;
			height: 100%;
		}
		.table {
			display: table-cell;
			vertical-align: middle;
		}
		span {
			margin: 0px auto;
			width: 100px;
			height: 100px;
			text-align: center;
			@include adjust-font-size-to(60px);
			border-radius: 50%;
			line-height: 105px;
			display: block;
			background-color: #87C114;
			color: white;
			border: 3px solid darken(#2CAC21, 20%);
		}
		.no {
			border: 3px solid #6B1E00;
			background-color: $red;
		}
	}

	#suggested-wrap {
		overflow: hidden;
		text-align: center;
		width: 100%;
	}
	#suggested-matches {
		height: 150px;
		width: 80%;
		display: table;
		margin: 0px auto;
		border-top: 2px solid rgba(#2D0000, 0.1);
		border-width: 2px 0px;
		li {
			position: relative;
			display: table-cell;
			text-align: center;
			vertical-align: middle;
		}
		li img {
			margin: 0px 10px;
			box-shadow: 0 0 0 3px #fff, 0 0 0 4px #e3e3e3;  
		}
		width: 980px;
		#plus {
			width: 120px;
			height: 120px;
			@include adjust-font-size-to(60px);
			line-height: 120px; 
			padding-top: 5px;
			color: white;
			background-color: $green;
			box-shadow: 0 0 0 3px #fff, 0 0 0 4px #2CAC21;  
		}
	}

}



.oh-yeah {

			position: absolute;
			top: 15px;
			right: 20px;
			margin: 0px auto;
			width: 40px;
			height: 40px;
			text-align: center;
			@include adjust-font-size-to(20px);
			border-radius: 50%;
			line-height: 40px;
			display: block;
			background-color: #87C114;
			color: white;
			border: 3px solid darken(#2CAC21, 20%);
}